{block content}
<style>
    body {
        height: 100vh;
        margin: 0;
        display: flex;
        justify-content: center;
        background-color: #CCCCCC;
    }

    .centered-div {
        text-align: center;
        padding: 20px;
        background-color: #ffffff;
        border-radius: 10px;
        height: 200px;
    }
</style>
<div class=centered-div>
<h1 class="" n:block=title>Sign in</h1>
    {control signInForm}
</div>
